@page "/adressen"
@attribute [Authorize(NEXTjeugdPermissions.Adressen.Default)]
@using NEXTjeugd.Adressen
@using NEXTjeugd.Localization
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.ObjectMapping
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using NEXTjeugd.Permissions
@inject IAdressenAppService AdressenAppService
@inject IStringLocalizer<NEXTjeugdResource> L
@inject IAuthorizationService AuthorizationService
@inject IUiMessageService UiMessageService
@inject IObjectMapper ObjectMapper

@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["Adressen"]" BreadcrumbItems="BreadcrumbItems" Toolbar="Toolbar">
</PageHeader>

@* ************************* SEARCH ************************* *@
<Card>
    <CardBody>
        <Form id="AdresSearchForm" class="mb-3">
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@Filter.FilterText"
                              Autofocus="true"
                              Placeholder="@L["Search"]">
                    </TextEdit>
                </Addon>
                <Addon AddonType="AddonType.End">
                    <SubmitButton Form="AdresSearchForm" Clicked="GetAdressenAsync">
                        <Icon Name="IconName.Search" Class="mr-1"></Icon>@L["Search"]
                    </SubmitButton>
                </Addon>
            </Addons>
        </Form>
    </CardBody>
</Card>

@* ************************* DATA GRID ************************* *@
<Card>
    <CardBody>
        <DataGrid TItem="AdresDto"
                  Data="AdresList"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  Responsive="true"
                  PageSize="PageSize">
            <DataGridColumns>
                <DataGridEntityActionsColumn TItem="AdresDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="AdresDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="AdresDto"
                                          Visible="@CanEditAdres"
                                          Clicked="() => OpenEditAdresModal(context)"
                                          Text="@L["Edit"]"></EntityAction>
                            <EntityAction TItem="AdresDto"
                                          Visible="@CanDeleteAdres"
                                          Clicked="() => DeleteAdresAsync(context)"
                                          ConfirmationMessage="@(()=> L["DeleteConfirmationMessage"])"
                                          Text="@L["Delete"]"></EntityAction>
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>
                <DataGridColumn TItem="AdresDto"
                                Field="Postcode"
                                Caption="@L["Postcode"]">
                </DataGridColumn>
                <DataGridColumn TItem="AdresDto"
                                Field="Straatnaam"
                                Caption="@L["Straatnaam"]">
                </DataGridColumn>
                <DataGridColumn TItem="AdresDto"
                                Field="Huisnummer"
                                Caption="@L["Huisnummer"]">
                </DataGridColumn>
                <DataGridColumn TItem="AdresDto"
                                Field="Woonplaats"
                                Caption="@L["Woonplaats"]">
                </DataGridColumn>
                <DataGridColumn TItem="AdresDto"
                                Field="Stadsdeel"
                                Caption="@L["Stadsdeel"]">
                </DataGridColumn>
                <DataGridColumn TItem="AdresDto"
                                Field="Begindatum"
                                Caption="@L["Begindatum"]">
                    <DisplayTemplate>
                        @context.Begindatum.ToShortDateString()
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="AdresDto"
                                Field="Einddatum"
                                Caption="@L["Einddatum"]">
                </DataGridColumn>
                <DataGridColumn TItem="AdresDto"
                                Field="Geheim"
                                Caption="@L["Geheim"]">
                    <DisplayTemplate>
                        @(context.Geheim ? L["Yes"] : L["No"])
                    </DisplayTemplate>
                </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>

@* ************************* CREATE MODAL ************************* *@
<Modal @ref="CreateAdresModal">
    <ModalContent Centered="true">
        <Form id="CreateAdresForm">
            <ModalHeader>
                <ModalTitle>@L["NewAdres"]</ModalTitle>
                <CloseButton Clicked="CloseCreateAdresModal" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@NewAdresValidations"
                             Mode="ValidationMode.Auto"
                             Model="@NewAdres"
                             ValidateOnLoad="false">

                    <Validation>
                        <Field>
                            <FieldLabel>@L["Postcode"]</FieldLabel>
                            <TextEdit @bind-Text="@NewAdres.Postcode">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field>
                            <FieldLabel>@L["Straatnaam"]</FieldLabel>
                            <TextEdit @bind-Text="@NewAdres.Straatnaam">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field>
                            <FieldLabel>@L["Huisnummer"]</FieldLabel>
                            <TextEdit @bind-Text="@NewAdres.Huisnummer">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field>
                            <FieldLabel>@L["Woonplaats"]</FieldLabel>
                            <TextEdit @bind-Text="@NewAdres.Woonplaats">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field>
                            <FieldLabel>@L["Stadsdeel"]</FieldLabel>
                            <TextEdit @bind-Text="@NewAdres.Stadsdeel">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field>
                            <FieldLabel>@L["Begindatum"]</FieldLabel>
                            <DateEdit TValue="DateTime" @bind-Date="@NewAdres.Begindatum">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </DateEdit>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field>
                            <FieldLabel>@L["Einddatum"]</FieldLabel>
                            <TextEdit @bind-Text="@NewAdres.Einddatum">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Field>
                        <Check TValue="bool" @bind-Checked="@NewAdres.Geheim">@L["Geheim"]</Check>
                    </Field>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateAdresModal">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="CreateAdresForm" Clicked="CreateAdresAsync" />
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

@* ************************* EDIT MODAL ************************* *@
<Modal @ref="EditAdresModal">
    <ModalContent Centered="true">
        <Form id="EditAdresForm">
            <ModalHeader>
                <ModalTitle>@L["Update"]</ModalTitle>
                <CloseButton Clicked="CloseEditAdresModal" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditingAdresValidations"
                             Mode="ValidationMode.Auto"
                             Model="@EditingAdres"
                             ValidateOnLoad="false">

                    <Validation>
                        <Field>
                            <FieldLabel>@L["Postcode"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingAdres.Postcode">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field>
                            <FieldLabel>@L["Straatnaam"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingAdres.Straatnaam">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field>
                            <FieldLabel>@L["Huisnummer"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingAdres.Huisnummer">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field>
                            <FieldLabel>@L["Woonplaats"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingAdres.Woonplaats">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field>
                            <FieldLabel>@L["Stadsdeel"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingAdres.Stadsdeel">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field>
                            <FieldLabel>@L["Begindatum"]</FieldLabel>
                            <DateEdit TValue="DateTime" @bind-Date="@EditingAdres.Begindatum">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </DateEdit>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field>
                            <FieldLabel>@L["Einddatum"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingAdres.Einddatum">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Field>
                        <Check TValue="bool" @bind-Checked="@EditingAdres.Geheim">@L["Geheim"]</Check>
                    </Field>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditAdresModal">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="CreateAdresForm" Clicked="UpdateAdresAsync" />
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>