@page "/clienten"
@attribute [Authorize(NEXTjeugdPermissions.Clienten.Default)]
@using NEXTjeugd.Clienten
@using NEXTjeugd.Localization
@using NEXTjeugd.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Blazorise.Components
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.ObjectMapping
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using NEXTjeugd.Permissions
@inject IClientenAppService ClientenAppService
@inject IStringLocalizer<NEXTjeugdResource> L
@inject IAuthorizationService AuthorizationService
@inject IUiMessageService UiMessageService
@inject IObjectMapper ObjectMapper

@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["Clienten"]" BreadcrumbItems="BreadcrumbItems" Toolbar="Toolbar">

</PageHeader>

@* ************************* SEARCH ************************* *@
<Card>
    <CardBody>
        <Form id="ClientSearchForm" class="mb-3">
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@Filter.FilterText"
                              Autofocus="true"
                              Placeholder="@L["Search"]">
                    </TextEdit>
                </Addon>
                <Addon AddonType="AddonType.End">
                    <SubmitButton Form="ClientSearchForm" Clicked="GetClientenAsync">
                        <Icon Name="IconName.Search" Class="mr-1"></Icon>@L["Search"]
                    </SubmitButton>
                </Addon>
            </Addons>
        </Form>
    </CardBody>
</Card>

@* ************************* DATA GRID ************************* *@
<Card>
    <CardBody>
        <DataGrid TItem="ClientDto"
                  Data="ClientList"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  Responsive="true"
                  PageSize="PageSize">
            <DataGridColumns>
                <DataGridEntityActionsColumn TItem="ClientDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="ClientDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="ClientDto"
                                          Visible="@CanEditClient"
                                          Clicked="() => OpenEditClientModal(context)"
                                          Text="@L["Edit"]"></EntityAction>
                            <EntityAction TItem="ClientDto"
                                          Visible="@CanDeleteClient"
                                          Clicked="() => DeleteClientAsync(context)"
                                          ConfirmationMessage="@(()=> L["DeleteConfirmationMessage"])"
                                          Text="@L["Delete"]"></EntityAction>
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>
               
              <DataGridColumn TItem="ClientDto"
                      Field="Naam"
                      Caption="@L["Naam"]">
              </DataGridColumn>

            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>

@* ************************* CREATE MODAL ************************* *@
<Modal @ref="CreateClientModal">
    <ModalContent Centered="true">
        <Form id="CreateClientForm">
            <ModalHeader>
                <ModalTitle>@L["NewClient"]</ModalTitle>
                <CloseButton Clicked="CloseCreateClientModal" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@NewClientValidations"
                            Mode="ValidationMode.Auto"
                            Model="@NewClient"
                            ValidateOnLoad="false">
                    
                    <Validation>
                        <Field>
                            <FieldLabel>@L["Naam"]</FieldLabel>
                            <TextEdit @bind-Text="@NewClient.Naam" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateClientModal">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="CreateClientForm" Clicked="CreateClientAsync" />
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

@* ************************* EDIT MODAL ************************* *@
<Modal @ref="EditClientModal">
    <ModalContent Centered="true">
        <Form id="EditClientForm">
            <ModalHeader>
                <ModalTitle>@L["Update"]</ModalTitle>
                <CloseButton Clicked="CloseEditClientModal" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditingClientValidations"
                            Mode="ValidationMode.Auto"
                            Model="@EditingClient"
                            ValidateOnLoad="false">
                    
                    <Validation>
                        <Field>
                            <FieldLabel>@L["Naam"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingClient.Naam" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditClientModal">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="CreateClientForm" Clicked="UpdateClientAsync" />
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>
